body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
    font-family: Georgia, serif;
    font-size: 50px;
    color: steelblue;
  }
  
  h2 {
    font-family: Monaco, serif;
    font-size: 35px;
    color: slategray;
  }
  
  h3 {
   font-family: Monaco, serif;
    font-size: 100pt;
    color: ghostwhite;
    -webkit-text-stroke: 1px black;
  }
  /*
  Owner: Jessica Murdoch
  navbar basic desisn inspiration from https://www.w3schools.com/howto/howto_js_topnav.asp 
  Date April 03, 2023*/
  
  
  .navbar {
    background-color: #2E8BC0; 
    display:flex;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    position: relative;
  }
  .navlist {
    list-style: none;
    float: right;
    color: white; 
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 17px;
  }
  .navlist .list_item {
    display: inline-block;
    padding: 16px 8px;
  }
  .navbar a {
    color:#5dacbd;  
    text-decoration: none;
  }
  .navbar a:hover {
    color:  #B1D4E0; 
  }
  .navlist a.active {
    background-color: #145DA0;
    color:  white;
    padding: 18px;
  }
  .navbar .CompanyLogo {
    height: 60px;
    width: 90px;
  }
  .navbar .CompanyName {
    color: #e0ebeb; 
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 26px;
    font-weight: bold;
  }
  /*End of navbar basics for navbar by Jessica Murdoch*/

/* Header image was created with inspiration from w3schools https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_startup
created by Jessica and edited by Louise
April 6, 2023 */

  .header-image {
    background-position: center;
    background-size: cover;
    background-image: url("image-header.jpg");
    min-height: 100%; 
    background-repeat: no-repeat ; 
    position: relative;
   /* make responsive*/
    width: 100%;
    height: auto;  
    line-height: 29em;
  }
  
  .header-image-text {
    top: 50%;
    color:#fff;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
  }
/*end of header image*/
  
/* About Us page template inspiration from W3Schools https://www.w3schools.com/howto/howto_css_about_page.asp */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* End of About Us Page */

  .sliderPara {
    color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
    padding-left: 35px;
    z-index: 1000;
    position: relative;
}

  .footerFixed {
     position: relative;
     bottom: 0;
     width: 100%;
     background-color: Black;
     color: seashell;
     display: flex;
     justify-content: center;
     align-items: center;
  }
  
  .footerText {
   text-align: left;
  }
  
  .logo {
   float: left;
   padding-top: 10px;
   padding-bottom: 7px;
   padding-right: 50px;
  }
  
  @media (max-width:500px) {
      .footerFixed, .logo, .footerText{
          display: flex;
          margin-top: 10px;
          margin-bottom: 20px;
      }
  }
  
  
  /* Body formatting by Meghan Noonan */ 
  
  .mainbox{
      padding: 10%;
  }
  
  .bodybox{
      background-color: #f5f5f5;
      padding-right: 3%;
      padding-left: 3%;
      padding-bottom: 3%;
      padding-top: 3%;
    }

   p{
      color:gray; 
         font-size: 20px;
          font-family: Arial, sans-serif;
          line-height: 155%;
    }
  
    
  .picture{
      position: relative;
  
  }
  
  img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
   
  }
  
  .column {
        float: left;
        width: 30.33%;
      padding-left:8%;
      color: white;
  
  }
  
  /* Clear floats after the columns - from W3Schools*/
  .row:after {
        content: "";
        display: table;
        clear: both;
      padding:10%;
  
  }
  
   .center1 {
      text-align: center;
    }
     
.buttonPosition {
    display: flex;
    justify-content: center;
    bottom: 100px;
    
}
    .button {
      background-color: #2E8BC0; 
      color: white;
      font-family: initial;
      padding: 16px 32px;
      text-align: center;
      display: inline-block;
      font-size: 28px;
      margin: 4px 2px;
      cursor: pointer;
      text-decoration: none;
      border-radius: 8px;
    }
    
    .button:hover{
        background-color: white;
        color: black;
    }
  .TrialsImages {
      text-align: center;
      height: auto;
      width: 100%;
      display: flex;
   }  

 .gifBoundaries {
     width:100%;
     height:auto;
     position:relative;
     text-align: center;
     overflow: hidden;
  }   
     
    @media (max-width: 1400px){ /*Responsive */
      .bodybox {
          flex-direction: column;
        }}
  
  @media (max-width: 900px){
      .pastprojects, .imgteam{
          max-width: 100%;
          padding: 5%;
      }
  
  }

 @media screen and (min-width: 551px){ /*Responsive */
      .header-image-text{
          font-size: 1.25rem;
        }
}
     
  @media screen and (max-width: 550px){ /*Responsive */
      .header-image-text{
          font-size: .25em;
      }
     }
